extends layout

block content

  div(class='parent')
    div(class='child player', id='player')

    div(class='child queue-controls')

      div(class='queue-connection')
      input(type="text", name="queueId", id="queueIdInput", value="", placeholder="Queue ID")
      button(onclick='connectToQueue()') Connect to queue
      button(onclick='newQueue()') New queue

      div(class='queue-push')
      input(type="text", name="videoUrlInput", id="videoUrlInput", value="https://www.youtube.com/watch?v=gHM6soSi2KU", placeholder="URL")
      button(onclick='addToQueue()') Add to queue


    div(id='current-queue')
      p(id='queue-name')
      div(class="card", style="width: 640px;", id='queue')
        div(class="card-header" id="current-video-title")
        ul(class="list-group list-group-flush" id="queued-videos-titles")


    p(id='createdQueue')

    script(src='/javascripts/player.js')
    script(src='/javascripts/queue.js')
