extends layout

block content

  script(src='/javascripts/index.js')

  div(class='queue-connection container align-content-center flex-wrap')
    div(class="input-group")
      input(class="form-control mr-1", type="text", name="queueId", id="queueIdInput", value="", placeholder="Queue ID")
      button(class="btn btn-primary mr-1", onclick='goToQueue()') Connect
      button(class="btn btn-primary", onclick='newQueue()') New queue
