html {height:100%;}

body {
  height:100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}




button {
  transition-duration: 0.2s !important;
}

/* button:hover {
  background-color: #0fa3e7;
  color: white;
} */

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* input {
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  border-radius:10px;
} */

/* .current-queue {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
} */


.queue-push {
  margin-bottom: 35px;
}

#queue-connection {
  margin-bottom: 35px;
}


/* .queue-controls {
  margin: 0;
  padding: 0;
} */

#queue-name {
  font-size: 20px;
  font-weight: bold;
  color: #0fa3e7;
  margin-top: 30px;
}

#footer {
  font-weight: bold;
  color: #0fa3e7;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

#title {
  font-weight: bold;
  color: #0fa3f7;
}

#player {
  width: 100%;
  /* height: 100%; */
}

#queued-videos-titles {
  max-height: 200px;
  overflow-y: scroll;
}

.video-title {
  display: table-cell;
  padding: 0 8px;
  vertical-align: middle;

}


.video-remove-button {
  vertical-align: middle;
  float: right;
  display: table-cell;
  margin: 0px;
  padding: 0px;
}

.video-remove-icon {
  margin: 0px;
  text-align: center;
  padding: 0%;
}