html {
  height: 100%;
}

body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.row{
  margin: 0px;
  }

.flex-fill {
  flex: 1 1 auto;
}


button {
  transition-duration: 0.2s !important;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


.queue-push {
  margin-bottom: 35px;
}

#queue-connection {
  margin-bottom: 35px;
}


#queue-name {
  font-size: 40px;
  font-weight: normal;
  color: #0fa3e7;
  margin-top: 30px;
  text-align: right;
}

#footer {
  font-weight: bold;
  color: #0fa3e7;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 20px;
}

#title {
  font-weight: bold;
  color: #0fa3f7;
  font-size: xx-large;
}

#player {
  width: 100%;
}

#queued-videos-titles {
  max-height: 200px;
  overflow-y: scroll;
}

.video-title {
  display: table-cell;
  padding: 0 8px;
  vertical-align: middle;

}


.video-remove-button {
  vertical-align: middle;
  float: right;
  display: table-cell;
  margin: 0px;
  padding: 0px;
}

.video-remove-icon {
  margin: 0px;
  text-align: center;
  padding: 0%;
}

.connection-status-icon {
  margin-left: 10px;
  text-align: center;
  padding: 0%;
}

#connected-icon {
  color: rgb(0, 200, 150);
}

#disconnected-icon {
  color: grey;
}

.index-title {
  margin-bottom: 60px;
}

.homepage-button {
  padding-top: 100px;
  text-align: center;
  font-size: xx-large
}

#status {
  font-weight: bold;
  color: #0fa3f7;
  font-size: 100px;
}

.invalid-input {
  box-shadow: 0 0 0 .2rem rgba(255, 0, 0, 0.3);
}

